@import "tailwindcss";

:root {
  --foreground: #0f172a; /* slate-900 */
}

@theme inline {
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans), sans-serif;
  --font-mono: var(--font-geist-mono), monospace;
}

body {
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  min-height: 100vh;
}
